    html {
        font-size: 16px;
    }
    /* Redimensión de fuente utilizando rem */
    
    p {
        font-size: 1rem;
    }
    
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.6rem;
    }
    
    h4 {
        font-size: 1.3rem;
    }
    
    h5 {
        font-size: 1.15rem;
    }
    
    h6 {
        font-size: 1.05rem;
    }
    /**************************/
    /* clases predefinidas */
    
    * {
        box-sizing: border-box;
        font-size: 20px;
    }
    
    body {
        margin: 0;
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Diseño de columnas */
    
    .column-1 {
        width: 100%;
        float: left;
    }
    
    .column-2 {
        width: 50%;
        float: left;
    }
    
    .column-3 {
        width: 33.33%;
        float: left;
    }
    
    .column-4 {
        width: 25%;
        float: left;
    }
    
    .column-5 {
        width: 20%;
        float: left;
    }
    
    .column-6 {
        width: 16.66%;
        float: left;
    }
    
    .column-75 {
        width: 75%;
        float: left;
    }
    /* Encabezado */
    
    #header {
        height: 100vh;
        background-color: black;
        background-size: cover;
        background-position: center;
        color: white;
    }
    
    #encabezado {
        padding-top: 20%;
    }
    
    #ingles {
        padding-top: 20%;
    }
    
    #descarga {
        padding-top: 20%;
        padding-left: 35%;
    }
    
    a {
        text-decoration: none;
        color: white;
        padding-left: 10%;
    }
    /* Quien soy */
    
    #quiensoy {
        padding-top: 5%;
        padding-left: 10%;
        padding-bottom: 5%;
        background-color: aqua
    }
    /* informacion personal */
    
    #maps {
        padding-top: 9%;
        padding-left: 10%;
        padding-bottom: 5%;
        background-color: black;
    }
    
    .negro {
        background-color: black;
    }
    
    #infopersonal {
        padding-top: 5%;
        padding-left: 10%;
        padding-bottom: 5%;
        background-color: black;
        color: white;
    }
    /* Skills */
    
    .aqua {
        background-color: aqua;
    }
    
    #competencias {
        padding: 5%;
        padding-left: 10%;
    }
    
    #idiomas {
        padding: 5%;
        padding-left: 10%;
    }
    
    #software {
        padding: 5%;
        padding-left: 10%;
    }
    /* Skills */
    
    footer {
        text-align: center;
        height: 8vh;
        text-decoration: none;
        padding: 5%;
        background-color: black;
    }
    /* clase para centrar contenido en horizontal y vertical (lo centra respecto al elemento padre) */
    
    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* CSS INGLES */
    
    @media only screen and (max-width: 600px) {
        /* column-2 pasará de tener 50% a 100% */
        .column-2 {
            width: 100%;
        }
        /* column-3 pasará de tener 33.33% a 100% */
        .column-3 {
            width: 100%;
        }
        /* column-4 pasará de tener 25% a 50% */
        .column-4 {
            width: 50%;
        }
    }